%h3 Your Credentials

.details
  %ul
    %li
      %p
        %label Abiquo URL:
        = $app_config['abiquo_url']
    %li
      %p
        %label Username:
        = appliance.user.username
    %li
      %p
        %label Password:
        = appliance.user.password
