#{extends '/Mails/sendEmailWrapper.html' /} 
<layout label="Text only">
<title>Cloud Services Confirmation</title>
    <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
        <tbody><tr>
            <td class="w580" width="580">
                <p align="left" class="article-title"><singleline label="Title">Order failed<singleline></p>
                <div align="left" class="article-content">
                    <multiline label="Description">Please review the order information below. For assistance contact your cloud administrator
                    	<p>User:  <b>${useremail}</b></p>
						<p>Offer name: <b>${offerName} </b></p>
                    </multiline>
                </div>
            </td>
        </tr>
        <tr><td class="w580" width="580" height="10"></td></tr>
    </tbody></table>
</layout>