<!DOCTYPE html>
<html>
    <head> 
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/styles.css'}">
        <link rel="stylesheet" href="/public/stylesheets/layout.css" type="text/css" />
		<link rel="stylesheet" href="/public/stylesheets/custom.css" type="text/css" />
		<link type="text/css" href="/public/stylesheets/ui-darkness/jquery-ui-1.8.18.custom.css" rel="Stylesheet" />	
		<script type="text/javascript" src="/public/javascripts/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/public/javascripts/jquery-ui-1.8.18.custom.min.js"></script>
		<script type="text/javascript" src="/public/javascripts/jquery-photostack.js"></script>
		<link media="screen, projection" href="/public/stylesheets/jquery.fancybox-1.3.4.css" type="text/css" rel="stylesheet">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        #{get 'moreScripts' /}
        <script type="text/javascript" src="/public/javascripts/jquery.fancybox-1.3.1.js"></script>
        <script type="text/javascript">
$(document).ready(function () {
    $('#tabnav a[href^="' + location.pathname + location.search + '"]').addClass('active');
});

/*$(function() {
  $("a.fancyLink").fancybox({
"width" : 600,
"height" : 400,
"autoScale" : false,
"transitionIn" : "none",
"transitionOut" : "none",
"type" : "iframe",
"scrolling" : "no" 
  }); 
});*/
</script>
<script>
	$(function() {
		$( ".datepicker" ).datepicker();
	});
	</script>
        </head>
    <body>
<div id="page-wrapper">
  <div id="page">
    <div id="header">
      <div id="headingTop">
        <p class="floatRight"><a href="#">${user}</a> | <a href="#">change password</a> | <a href="@{Login.logout()}">logout</a></p>
      </div>
      <div id="headingBottom">
        <div id="logo" class="floatLeft"><img src="/public/images/logo-abiquo.png" width="188" height="50" /></div>
      </div>
    </div>
    <div id="main-wrapper">
      <div id="main">
        #{doLayout /}
   </div>
 </div>
</div>  
  <div id="footer-wrapper">
  <div id="footer">
    <p style="text-align:right;">Copyright &copy; 2012 Abiquo, Inc.</p>
  </div>
</div>

    
</body>
</html>
