.ui-button-text {
	font-size: inherit !important;
}

.small-button {
	font-size: .8em !important;
}

.ui-button-loggin {
	height: 1.9em;
	font-size: 12px;
}

.ui-button {
	display: inline-block;
	position: relative;
	padding: 0;
	margin-right: .1em;
	text-decoration: none !important;
	cursor: pointer;
	text-align: center;
	overflow: visible;
}

}
div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#file {
	display: none;
}

​
input.file {
	position: relative;
	text-align: right;
	-moz-opacity: 0;
	filter: alpha(opacity :   0);
	opacity: 0;
	z-index: 2;
}

#main-wrapper {
	background-image: url('../images/simple-sky-cloud.jpg');
	/*background-repeat:no-repeat;*/
	background-size: 100%;
	margin: 0 auto;
	position: relative;
	top: 58px; 
	width: 75%;
}

body {
	background-image: url('../images/simple-sky-cloud.jpg');
	/*background-repeat:no-repeat;*/
	background-size: 100%;
}

#tabs li .ui-icon-close {
	float: left;
	margin: 0.4em 0.2em 0 0;
	cursor: pointer;
}

table.detailTable {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

tr,td {
	text-align: left;
}

/*******Tables service catalog **************/
.row-fluid {
	border: 1px solid #DDDDDD;
	border-radius: 48px 16px 2px 16px;
	box-shadow: 0 1px 0 #FFFFFF inset;
	float: left;
	list-style: none outside none;
	margin: 0 0 1px;
	padding: 20px 10px 4px 0px;
	position: relative;
	width: 100%;
	background-image: linear-gradient(bottom, rgb(255, 162, 0) 0%,
		rgb(237, 237, 237) 3%, rgb(255, 255, 255) 92% );
	background-image: -o-linear-gradient(bottom, rgb(255, 162, 0) 0%,
		rgb(237, 237, 237) 3%, rgb(255, 255, 255) 92% );
	background-image: -moz-linear-gradient(bottom, rgb(255, 162, 0) 0%,
		rgb(237, 237, 237) 3%, rgb(255, 255, 255) 92% );
	background-image: -webkit-linear-gradient(bottom, rgb(255, 162, 0) 0%,
		rgb(237, 237, 237) 3%, rgb(255, 255, 255) 92% );
	background-image: -ms-linear-gradient(bottom, rgb(255, 162, 0) 0%,
		rgb(237, 237, 237) 3%, rgb(255, 255, 255) 92% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(255,
		162, 0) ), color-stop(0.03, rgb(237, 237, 237) ),
		color-stop(0.92, rgb(255, 255, 255) ) );
}

.thumbnailPurchase {
	position: relative;
	left: 12px;
}

.table-offer {
	position: relative;
	left: -16x;
}

.ui-widget-overlay {
	height: 100% !important;
}

.ui-dialog {
	margin: 0 auto !important;
	z-index: 1;	
	top: 58px !important;
}

.ui-progressbar .ui-progressbar-value {
 	background-image: url(../images/pbar-ani.gif) !important; 
 }

 input[type='text'], .ui-datepicker-title {
 	height: 26 !important;
 }
/*body {text-align:center;}*/