 <script type="text/javascript">
 $('.accordion').accordion({
       event: "click hoverintent",
       clearStyle: true,
       autoHeight: false,
       header: 'h3'
       /*       create : function(event,ui) {
            $('#content').load( $(this).find('a').attr('href') );
       }*/
 }); 
 $('.accordion').bind('accordionchange', function(event, ui) {
     /*var clicked = $(ui.newHeader).find('a').attr('href');
     ui.newContent.load(clicked);*/
 });
</script> 
<style>
.row-fluid {
   
    border: 1px solid #DDDDDD;
    border-radius: 48px 16px 2px 16px;
    box-shadow: 0 1px 0 #FFFFFF inset;
    float: left;
    list-style: none outside none;
    margin: 0 0 1px;
    padding: 20px 10px 4px 0px;
    position:relative;
    width: 100%;
    
background-image: linear-gradient(bottom, rgb(255,162,0) 0%, rgb(237,237,237) 3%, rgb(255,255,255) 92%);
background-image: -o-linear-gradient(bottom, rgb(255,162,0) 0%, rgb(237,237,237) 3%, rgb(255,255,255) 92%);
background-image: -moz-linear-gradient(bottom, rgb(255,162,0) 0%, rgb(237,237,237) 3%, rgb(255,255,255) 92%);
background-image: -webkit-linear-gradient(bottom, rgb(255,162,0) 0%, rgb(237,237,237) 3%, rgb(255,255,255) 92%);
background-image: -ms-linear-gradient(bottom, rgb(255,162,0) 0%, rgb(237,237,237) 3%, rgb(255,255,255) 92%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(255,162,0)),
	color-stop(0.03, rgb(237,237,237)),
	color-stop(0.92, rgb(255,255,255))
);
}

.thumbnailPurchase {
	position: relative;
	left: 12px;
}

.table-offer {
	position: relative;
	left: -16x; 
}
</style>
 <div class="accordion">        
   #{set level:'first' /}
   #{list result2 , as:'sc_offer'}    
	    #{if 'PUBLISHED' == sc_offer.state}
	    #{if sc_offer.virtualDataCenter_name != level}
	    	#{if level != 'first' }
	    		#{set separator:'false' /}
	    		</div>	    		
	    	#{/if}	    
	    	#{set separator:'true' /}
			    <h3><a href="#">${sc_offer.virtualDataCenter_name}</a></h3>
		    	<div class="container-fluid">
	    	#{set level: sc_offer.virtualDataCenter_name /}	    	
    	#{/if}    
	  	#{if separator == 'true'}
  			#{set separator:'false' /}
  		#{/if}		  	
  		#{else}
  			
  		#{/else}  		
        <div class="row-fluid">
            <div class="span3">
                <ul class="thumbnails span thumbnailPurchase">
			    <li>
				    <a href="#" class="thumbnail offerDetails" url="@{Consumer.offerDetails(sc_offer.sc_offer_id)}">
				         <img src="@{Helper.displayIcon(sc_offer.sc_offer_id, sc_offer.icon)}" height="100px" width="140" >
				    </a>
				    <div class="btn-group">
                     <button url="@{Consumer.offerDetails(sc_offer.sc_offer_id)}" class="btn offerDetails"><i class="icon-info-sign"></i>Info</button>
                     <button url="@{Consumer.PurchaseConfirmation(sc_offer.sc_offer_id)}" class="btn btn-warning purchaseConfirm" ><i class="icon-shopping-cart icon-white"></i>Purchase</button>
                    </div>
			    </li>			      
			    </ul>
            </div>
            <div class="span9">                
                <div style="display: none;">${sc_offer.sc_offer_id}</div>		       
		         <table class="table-offer table table-bordered ">
		              <thead class="ui-widget-header">
			            <tr>
			                <td><div class="ui-widget">Resource</div></td>
			                <td><div class="ui-widget">Description</div></td>
			            </tr>
			         </thead> 
		            <tbody class="ui-widget-content">	
		              <tr>
                        <td class="ui-widget"><strong>Name</strong></td>
                        <td class="ui-widget">${sc_offer.sc_offer_name}</td>
                      </tr>	             
                      <tr>
                        <td class="ui-widget"><strong>Description</strong></td>
                        <td class="ui-widget">${sc_offer.description}</td>
                      </tr>
                      <tr>
                        <td class="ui-widget"><strong>Price</strong></td>
                        <td class="ui-widget"><strong>${sc_offer.price}</strong></td>
                      </tr>		            
		            </tbody>
		          </table>          
            </div>
        </div>      	       
	   #{/if}
   #{/list}
   #{else}
	<div>
	  <h3><a href="#">No offers available in marketplace</a></h3>
	</div>   	
   #{/else}
</div>
