<div id="purchaseConfirmation">
<table class="table table-bordered table-condensed table-striped">
    <thead class="ui-widget-header">
     <tr>
        <td><strong>Are you sure you want to purchase this offer?</strong></td><td></td>
    </tr>
   </thead>
   <tbody>
   #{list offers, as:'offer'} 
      <tr>
         <td><strong>Offer Name</strong></td><td>${offer.sc_offer_name}</td>
      </tr>
     <tr>
         <td><strong>Short-Description</strong></td><td>${offer.short_description}</td>
      </tr>          
      <tr>
         <td><strong>Quality of Service</strong></td><td>${offer.virtualDataCenter_name}</td>
      </tr>
    #{/list}
    </tbody>
    </table>
    #{list nodes_list, as:'node'}
	<table class="table table-bordered table-condensed table-striped middle">
	   <thead class="ui-widget-header">
           <tr>
               <th width="200px"><strong><center>${node.node_name}</center></strong></th><td width="200px"><center>CPU</center></td><td width="200px"><center>RAM</center></td> 
           </tr>
       </thead>
       <tbody>	 
     <tr>
        <td><center><img src="@{'/public/images/user/1341575776_Yellow_Server.png'}" width="100" ></center></td><td><strong><center>${node.cpu}</center></strong></td><td><strong><center>${node.ram} MBytes</center></strong></td>
     </tr>     
     </tbody>
     </table>
    #{/list}
    
    <table class="table table-bordered table-condensed table-striped middle">
   #{list nodes_resources, as:'resource'}
         <tr><td><strong>Hard Disk ${resource.sequence}</strong></td><td>${resource.value}</td></tr>
   #{/list}
   </table>
   
   <table class="table table-bordered table-condensed table-striped middle">
   <tbody>
   #{list sc_offers_subscriptions, as:'sc_offers_subscriptions'}
          <tr><td><strong>Default Lease Period</strong></td><td>${sc_offers_subscriptions.sc_offer.service_type}</td></tr>
    #{/list}
    </tbody>
    <tfoot class="ui-widget-header"><tr><td><strong>Final Price</strong></td><td><strong>20$/day</strong></td></tr></tfoot>
    </table> 	
   <div class="btn btn-warning finalPurchaseConfirm" url="@{Consumer.deploy(offer.datacenter, offer.idVirtualDataCenter_ref, offer.sc_offer_id, offer.sc_offer_name , sc_offers_subscriptions.lease_period)}"><i class="icon-shopping-cart icon-white"></i>Purchase</div>             
 </div>       