<script type="text/javascript">
 $('.accordion').accordion({
       event: "click hoverintent",
       clearStyle: true,
       autoHeight: false
       /*       create : function(event,ui) {
            $('#content').load( $(this).find('a').attr('href') );
       }*/
 }); 
 $('.accordion').bind('accordionchange', function(event, ui) {
     /*var clicked = $(ui.newHeader).find('a').attr('href');
     ui.newContent.load(clicked);*/
 });
</script>
 
 <div class="accordion">        
   #{list listvApp , as:'sc_offer'}    
    <h3><a href="#">${sc_offer.name}</a></h3>    
    <div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <ul class="thumbnails span">
                <li>
               	    #{if 'DEPLOYED' == sc_offer.state.name()}
                	 <!-- <a href="#" class="thumbnail offerDetails" url="@{Consumer.offerDetails(sc_offer.id)}">     -->
	                    <a href="#" class="thumbnail">
	                  		<img src="@{'/public/images/user/server_on.png'}" height="100">
	                    </a>
	                    <div class="btn-group">
		                    <button class="btn"><i class="icon-info-sign"></i>Info</button>
		                    <button url="@{Consumer.undeploy(sc_offer.id,sc_offer.id)}" class="btn btn-warning undeployConfirm" ><i class="icon-pause icon-white"></i>Pause</button>
		                    <button url="@{Consumer.deleteOffer(sc_offer.id,sc_offer.id)}" class="btn btn-danger deleteConfirm" ><i class="icon-trash icon-white"></i>Delete</button>
	                    </div>
                    #{/if}
               		#{else}
	               		<a href="#" class="thumbnail">     
	                		 <img src="@{'/public/images/user/server_off.png'}" height="100">
	                	</a>
	                    <div class="btn-group">
		                    <button class="btn"><i class="icon-info-sign"></i>Info</button>
		                    <button url="@{Consumer.resumeOffer(sc_offer.id,sc_offer.id)}" class="btn btn-success resumeConfirm" ><i class="icon-play icon-white"></i>Resume</button>
		                    <button url="@{Consumer.deleteOffer(sc_offer.id,sc_offer.id)}" class="btn btn-danger deleteConfirm" ><i class="icon-trash icon-white"></i>Delete</button>
	                    </div>
               		#{/else}
                    <!-- <button url="@{Consumer.offerDetails(sc_offer.id)}" class="btn offerDetails"><i class="icon-info-sign"></i>Info</button>
                     <button url="@{Consumer.PurchaseConfirmation(sc_offer.id)}" class="btn btn-danger purchaseConfirm" ><i class="icon-trash icon-white"></i>Delete</button> -->
                </li>                 
                </ul>
            </div>
            <div class="span9">                
                <div style="display: none;">${sc_offer.id}</div>               
                 <table class="table table-bordered">
                      <thead class="ui-widget-header">
                        <tr>
                            <td><div class="ui-widget">Resource</div></td>
                            <td><div class="ui-widget">Description</div></td>
                        </tr>
                     </thead>
                    <tbody class="ui-widget-content">                    
                      <tr>
                        <td class="ui-widget"><strong>State</strong></td>
                        <td class="ui-widget">${sc_offer.state}</td>
                      </tr>
                      <tr>
                        <td class="ui-widget"><strong>Price</strong></td>
                        <td class="ui-widget"><strong>20$/day</strong></td>
                      </tr>                     
                    </tbody>
                  </table>          
            </div>
        </div>
    </div>                        
   </div>
   #{/list}
 </div>