%tr
  %td= admin_user.email
  %td{ :class => :actions }
    - unless admin_user == current_admin_user
      = link_to "Delete", admin_admin_user_path(admin_user), :method => :delete, :confirm => "Are you sure you wish to delete this Admin User?"