#provision_tabs
  %ul
    %li= link_to "Enterprises", "#enterprises"
    %li= link_to "Virtual Datacenters", "#virtual_datacenters"
    %li= link_to "Appliances", "#appliances"
    
  #enterprises
    %h2 Enterprises
    %table
      %thead
        %tr
          %th Name
          %th Status
          %th First Name
          %th Last Name
          %th Email Address
          %th
      %tbody
        = render :partial => "admin/enterprises/enterprise", :collection => @enterprises
  
  #virtual_datacenters
    %h2 Virtual Datacenters
  
  #appliances
    %h2 Appliances
  