%h2 Provisions &rarr; Virtual Datacenters

%table
  %thead
    %tr
      %th Name
      %th Status
      %th First Name
      %th Last Name
      %th Email Address
      %th
  %tbody
    = render :partial => "virtual_datacenter", :collection => @virtual_datacenters