<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}
#{else}
<h1> VA deployment in progress..... </h1>
#{/else}
<a href="@{Services.listVDC()}"> Virtual Datacenter list </a>
<a href="@{Services.listVA()}">  Back </a>
</body>
</html>