#{extends 'main.html' /}
#{set title:'List Virtual Appliance(s)' /}
        <style type="text/css">
    
   
    
   ul.vdclist {
  display: inline;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em 
    } 
    li {
    font-size= 400%
    }
    
    
 
  </style>
   
   #{ifnot vaList}
    
    <h3> No virtual Appliances   !!!</h3>
#{/ifnot}
#{else}
  
<h1>Displaying Virtual Appliances for ${vdc} </h1>



<table>
       <thead>
           <tr>
               <th><strong>Virtual Appliance Name</strong></th>
              
               <th>Action</th>
               
           </tr>
       </thead>
       <tbody>
           #{list vaList, as:'va'}
               <tr>
                   <td>${va.name}</td>
                   
                   <td>
                        #{a @Services.DeployVAalt(va.name)}Deploy#{/a}
                       
                         #{a @Services.listVM(vdc,va.name)}  List VM(s) #{/a}
                   </td>
               </tr>
           #{/list}
       </tbody>
   </table> 
<a href="@{Services.listVDC()}">Home </a>
#{/else}
