<!DOCTYPE html> 
<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>Abiquo Provisioning Portal - Purchasing Offer</title> 
	<link rel="stylesheet"  href="../../css/themes/default/jquery.mobile-1.1.1.css" />  
	<link rel="stylesheet" href="../_assets/css/jqm-docs.css"/>

	<script src="//code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="../../docs/_assets/js/jqm-docs.js"></script>
	<script src="../../js/jquery.mobile-1.1.1.js"></script>

</head> 
<body> 


	<div data-role="page">

		<div data-role="header" data-theme="e">
			<h1>Thank you!</h1>
		</div><!-- /header -->
		<div data-role="content" data-theme="d">
			<h4>Offer has been successfully purchased.</h4>
			<p>An email will be send with more deteiled information.</p>
			<a href="@@{Mobile.listOffersPurchased()}" data-role="button" data-theme="b">Go to Purchased Offers</a>
			<a href="@@{Mobile.listOffersToPurchase()}" data-role="button" data-rel="back">Return to Marketplace</a>
		</div>
</div><!-- /page -->

</body>
</html>