#{extends '/Mobile/layoutMobile.html' /} 
<div data-role="page">

	<div data-role="header">
		<h1>Abiquo Provisioning Portal</h1>
	</div>
	<!-- /header -->

	<div data-role="content">
		<ul data-role="listview" data-inset="true" data-filter-theme="a"
			data-theme="a" data-divider-theme="a">
			<li class="offerUrl"><a href="@{Mobile.listOffersToPurchase()}" data-prefetch>
					<h3>Marketplace</h3>
					<p>Purchase offers.</p>
			</a></li>
			<li class="offerUrl"><a href="@{Mobile.listOffersPurchased()}" data-prefetch>
					<h3>Purchased Offers</h3>
					<p>Manage and monitor your offers.</p>
			</a></li>
		</ul>
	</div>
	<!--/content-primary -->

	<div class="content-secondary">

		<div class="img">
			<img src="http://www.hpswebcms.co.uk/abiquo/files/2012/10/Abiquo-Master-Logo1-e1351268860181.png" />
			Marketplace
		</div>
		<div data-role="collapsible" data-collapsed="true" data-theme="b"
			data-content-theme="b">

			<h3>Help</h3>
			<ul data-role="listview" data-theme="a" data-dividertheme="a">

				<li data-role="list-divider">Sections</li>
				<li><a href="#">About</a></li>

			</ul>
		</div>
	</div>
</div>