<!DOCTYPE html>
<html>
<head>
<title>Abiquo Provisioning Portal</title>
 
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="@{'/public/stylesheets/orange.css'}" type="text/css" /> -->
<link rel="stylesheet" href="@{'/public/stylesheets/black.css'}" type="text/css" />
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile.structure-1.2.0.min.css" /> 
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script> 
<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script> 
<link rel="apple-touch-icon-precomposed" href="@@{'/public/images/icon/Drive-Cloud-icon.png'}" />
<meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<body>
	<div id="wrapper">
		 #{doLayout /}
	</div>
</body>
</html>