#{extends '/Mobile/layoutMobile.html' /} 
<div data-role="page">

	<div data-role="header">
		<a href="@@{Mobile.login()}" data-icon="home" data-iconpos="notext"
			data-direction="reverse">Logout</a><a href="#" data-icon="info"
			data-iconpos="notext" data-direction="reverse">Info</a>
		<h1>Abiquo Provisioning Portal</h1>
	</div>
	<!-- /header -->

	<div data-role="content">
		<ul data-role="listview" data-inset="true" data-filter="true"
			data-filter-placeholder="Search offer..." data-filter-theme="a"
			data-theme="c" data-divider-theme="a">

			<li class="offerUrl" data-role="list-divider" >Offers</li>
			#{list offers , as:'offer'}
			<li>
			<a href="" class="ui-link-inherit">
				<div class="ui-li ui-li-has-alt">					
					<div class="ui-btn-text" style="position:relative; padding-left: 1px;" >	
					<img src="@@{Helper.displayIcon(offer?.id)}"class="ui-li-thumb" style="position:relative;padding-left:10px;">
						<h3 class="ui-li-heading">${offer?.name}</h3>
						<p class="ui-li-desc">${offer?.shortDescription}</p>		
						</span>
					</div>
				</div>
			</a>
			</li>
			#{/list} 
			#{else}
			<li><a href="#">No offers to purchase</a></li> 
			#{/else}
		</ul>
	</div>
	<!--/content-primary -->

	<div class="content-secondary">

		<div data-role="collapsible" data-collapsed="true" data-theme="a"
			data-content-theme="a">

			<h3>Help</h3>
			<ul data-role="listview" data-theme="a" data-dividertheme="a">

				<li data-role="list-divider">Sections</li>
				<li><a href="#">About</a></li>

			</ul>
		</div>
	</div>
	<div>
		<!-- /content -->
		<div data-role="footer" data-id="foo1" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li><a href="@{Mobile.listInactiveOffers()}" data-icon="plus">Inactive
							Offers</a></li>
					<li><a href="@{Mobile.listActiveOffers()}"
						class="ui-btn-active ui-state-persist" data-icon="grid">Active
							Offers</a></li>
				</ul>
			</div>
			<!-- /navbar -->
		</div>
		<!-- /footer -->
	</div>
</div>