<!DOCTYPE html> 
<html> 
	<head> 
	<title>Abiquo Provisioning Portal</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
</head> 
<body> 

<div data-role="page">

	<div data-role="header">
		<a href="@@{Mobile.admin()}" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
		<h1>Abiquo Provisioning Portal</h1>
	</div><!-- /header -->

	<div data-role="content">		
		<ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="Search offer..." data-filter-theme="d"data-theme="d" data-divider-theme="d">

		#{list vdcList, as:'vdc'} 
			<li class="offerUrl"  data-role="list-divider">${vdc?.virtualDatacenter.name}</li>
			#{list vdc?.listVirtualAppliances, as: 'vapp'}
				<li><a href="@{Mobile.details(vdc?.virtualDatacenter.id,vapp.id)}">${vapp?.name}<span class="ui-li-count">20$/month</span></a></li>
			#{/list}		
	    #{/list} 
		</ul>
	</div><!--/content-primary -->		

			<div class="content-secondary">

				<div data-role="collapsible" data-collapsed="true" data-theme="b" data-content-theme="d">

						<h3>More in this section</h3>

						<ul data-role="listview" data-theme="c" data-dividertheme="d">

							<li data-role="list-divider">List views</li>
							<li><a href="docs-lists.html">List basics &amp; API</a></li>
							<li><a href="lists-ul.html">Basic linked list</a></li>
							<li><a href="lists-nested.html">Nested list</a></li>
							<li><a href="lists-ol.html">Numbered list</a></li>

							<li><a href="lists-split.html">Split button list</a></li>	
							<li><a href="lists-divider.html">List dividers</a></li>
							<li><a href="lists-count.html">Count bubble</a></li>
							<li><a href="lists-thumbnails.html">Thumbnails</a></li>
							<li><a href="lists-icons.html">Icons</a></li>
							<li><a href="lists-formatting.html">Content formatting</a></li>
							<li><a href="lists-search.html">Search filter bar</a></li>
							<li><a href="lists-search-inset.html">Inset search filter bar</a></li>
							<li data-theme="a"><a href="lists-search-with-dividers.html">Search filter bar with dividers</a></li>
							<li><a href="lists-search-filtertext.html">Search filter hidden data</a></li>

							<li><a href="lists-readonly.html">Read-only lists</a></li>
							<li><a href="lists-readonly-inset.html">Read-only inset lists</a></li>
							<li><a href="lists-forms.html">Lists with forms</a></li>
							<li><a href="lists-forms-inset.html">Inset lists with forms</a></li>

							<li><a href="lists-inset.html">Inset styled lists</a></li>
							<li><a href="lists-performance.html">List performance test</a></li>
							<li><a href="lists-themes.html">Theming lists</a></li>

						</ul>
				</div>
			</div>		
	<div><!-- /content -->		
	<div data-role="footer" data-id="foo1" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><a href="@{Mobile.listInactiveOffers()}" class="ui-btn-active ui-state-persist">Inactive Offers</a></li>
			<li><a href="@{Mobile.listActiveOffers()}">Active Offers</a></li>
		</ul>
	</div><!-- /navbar -->
</div><!-- /page -->

</body>
</html>