#{extends '/Mobile/layoutMobile.html' /} 
<div data-role="page">
	<div data-role="header">
		<a href="@@{Mobile.index()}" data-icon="home" data-iconpos="notext"
			data-direction="reverse">Home</a> <a href="#" data-icon="info"
			data-iconpos="notext" data-direction="reverse">Info</a>
		<h1>Abiquo Provisioning Portal</h1>
	</div>
	<!-- /header -->

	<div data-role="content">
		<ul data-role="listview" data-inset="true" data-filter="true"
			data-filter-placeholder="Search offer..." data-filter-theme="a"
			data-theme="c" data-divider-theme="a">

			<li class="offerUrl" data-role="list-divider">Offers</li>
			 #{list offersPurchased , as:'offerPurchased'}
			 <li>
			<a href="@@{Mobile.manageOffer(offerPurchased?.id)}" class="ui-link-inherit">
				<div class="ui-li ui-li-has-alt">					
					<div class="ui-btn-text" style="position:relative; padding-left: 1px;" >	
					<img src="@@{Helper.displayIcon(offerPurchased?.offer.id)}" class="ui-li-thumb" 
					style="position:relative;padding-left:10px;">
						<h3 class="ui-li-heading">${offerPurchased?.offer.name}</h3>
						<p class="ui-li-desc">${offerPurchased?.offer.shortDescription}</p>		
						<p class="ui-li-desc">${offerPurchased?.offer.price}</p>	
						</span>
					</div>
				</div>
			</a><a href="@@{Mobile.manageOffer(offerPurchased?.id)}" class="ui-link-inherit">Manage offer</a>
			</li> 			
			#{/list} 
			#{else}
			<li><a href="#">No offers to purchased</a></li> 
			#{/else}
		</ul>
	</div>
	<!--/content-primary -->

	<div class="content-secondary">

		<div data-role="collapsible" data-collapsed="true" data-theme="b"
			data-content-theme="b">

			<h3>Help</h3>
			<ul data-role="listview" data-theme="a" data-dividertheme="a">

				<li data-role="list-divider">Sections</li>
				<li><a href="#">About</a></li>

			</ul>
		</div>
	</div>
	<div>
		<!-- /content -->
		<div data-role="footer" data-id="foo1" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li><a href="@{Mobile.listOffersToPurchase()}"
						data-icon="grid">Marketplace</a></li>
					<li><a href="@{Mobile.listOffersPurchased()}"
						class="ui-btn-active ui-state-persist" data-icon="gear">Purchased
							Offers</a></li>
				</ul>
			</div>
			<!-- /navbar -->
		</div>
		<!-- /page -->
	</div>
</div>
