#{extends '/Mobile/layoutMobile.html' /} 
<div data-role="page">

	<div data-role="header">
		<a href="@@{Mobile.login()}" data-icon="home" data-iconpos="notext"
			data-direction="reverse">Logout</a><a href="#" data-icon="info"
			data-iconpos="notext" data-direction="reverse">Info</a>
		<h1>Abiquo Provisioning Portal</h1>
	</div>
	<!-- /header -->

	<div data-role="content">
		<ul data-role="listview" data-inset="true" data-filter="true"
			data-filter-placeholder="Search offer..." data-filter-theme="a"
			data-theme="c" data-divider-theme="a">

			#{list vdcList, as:'vdc'}
			<li class="offerUrl" data-role="list-divider">${vdc?.virtualDatacenter.name}</li>
			#{list vdc?.listVirtualAppliances, as: 'vapp'}
				<li>
				<a href="@@{Mobile.details(vdc?.virtualDatacenter.id,vapp.id)}" class="ui-link-inherit">
				<div class="ui-li ui-li-has-alt">					
					<div class="ui-btn-text" style="position:relative; padding-left: 1px;" >	
					<img src="@@{'/public/images/default.png'}"class="ui-li-thumb" style="position:relative;padding-left:10px;">
						<h3 class="ui-li-heading" style="padding-top: 24px;">${vapp?.name}</h3>
						</span>
					</div>
				</div>
				</a>
				</li> 
			#{/list}
			#{else}
				<li>	
				<a href="" class="ui-link-inherit">			
				<div class="ui-li ui-li-has-alt">					
					<div class="ui-btn-text" style="position:relative; padding-left: 1px;" >	
					<img src="@@{'/public/images/server_white_on.png'}"class="ui-li-thumb" style="position:relative;padding-left:10px;">
						<h3 class="ui-li-heading" style="padding-top: 24px;">All offers are active</h3>
						</span>
					</div>
				</div>
				</a>
				</li> 
			#{/else}
			 #{/list}
		</ul>
	</div>
	<!--/content-primary -->

	<div class="content-secondary">

		<div data-role="collapsible" data-collapsed="true" data-theme="a"
			data-content-theme="a">

			<h3>Help</h3>
			<ul data-role="listview" data-theme="a" data-dividertheme="a">

				<li data-role="list-divider">Sections</li>
				<li><a href="#">About</a></li>

			</ul>
		</div>
	</div>
	<div>
		<!-- /content -->
		<div data-role="footer" data-id="foo1" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li><a href="@{Mobile.listInactiveOffers()}"
						class="ui-btn-active ui-state-persist" data-icon="plus">Inactive
							Offers</a></li>
					<li><a href="@{Mobile.listActiveOffers()}" data-icon="grid">Active
							Offers</a></li>
				</ul>
			</div>
			<!-- /navbar -->
		</div>
	</div>
</div>