#{extends '/Mobile/layoutMobile.html' /} 
<div data-role="page">
	<div data-role="header" data-theme="a">
		<h1>Reset?</h1>
	</div>
	<!-- /header -->
	<div data-role="content" data-theme="a">
		<h4>This offer costs $20 and includes selected vm.</h4>
		<p>Your offer will be reseted after confirmation</p>
		<a href="@@{Mobile.resetOffer(purchasedOfferId)}" data-role="button"
			data-theme="b" data-rel="dialog" data-transition="slideup">Reset
			offer</a> <a href="@@{Mobile.index()}" data-role="button"
			data-rel="back" data-theme="a">No thanks</a>
	</div>
</div>