#{extends '/Mobile/layoutMobile.html' /} 
<div data-role="page">
	<div data-role="header" data-theme="a">
		<h1>Upgrade?</h1>
	</div>
	<!-- /header -->
	<div data-role="content" data-theme="a">
		<h4>This offer costs $20 and includes selected vm.</h4>
		<p>Your offer will be deployed once you confirm your purchase</p>
		<a href="#" data-role="button" data-theme="b" data-rel="dialog"
			data-transition="slideup">Upgrade offer</a> <a
			href="@@{Mobile.index()}" data-role="button" data-rel="back"  data-theme="a">No
			thanks</a>
	</div>
</div>
