 #{if flash.error}
    		<p style="color:#c00">
        	${flash.error}
    		</p>
			#{/if}
			
<script type="text/javascript">

 $('#accordionOffers').accordion({
	   event: "click hoverintent",
	   clearStyle: true,
	   autoHeight: false,
	   create : function(event,ui) {
	        $('#content').load( $(this).find('a').attr('href') );
	   }
 }); 
 $('#accordionOffers').bind('accordioncreate', function(event, ui) {
     var clicked = $('#accordionOffers').find('a').attr('href');
     //ui.load(clicked);
     console.log(clicked);
 });
 $('#accordionOffers').bind('accordionchange', function(event, ui) {
	 var clicked = $(ui.newHeader).find('a').attr('href');
	 ui.newContent.load(clicked);
     //console.log(clicked);
	 //console.dir(ui.newContent);
   //ui.newHeader // jQuery object, activated header
   //ui.oldHeader // jQuery object, previous header
   //ui.newContent // jQuery object, activated content
   //ui.oldContent // jQuery object, previous content
 });
</script>
#{ifnot vdc_list}    
    <h4> No Service Levels Defined, Contact Cloud Administrator  !!!</h4>
#{/ifnot}

#{else}
     
<div id="accordionOffers">
	#{list vdc_list, as:'vdc'}
	    <h3><a class="offerUrl" href="@{Producer.listAllOffers(vdc.id, vdc.name)}">${vdc?.name}</a></h3>
	    <div id="content">
	       <div class="progress progress-warning progress-striped active" style="margin-bottom: 9px;">	     
             <div class="bar" style="width: 100%"></div>
            </div>      
        </div>	
   #{/list}     
	    
</div>
#{/else}
<!-- <p><a href ="@{ProducerLocal.admin()}"> Home  </a></p> -->