#{extends 'main.html' /}

#{set title:'Home' /}
 #{if flash.error}
    		<p style="color:#c00">
        	${flash.error}
    		</p>
			#{/if}
#{ifnot vdc_list}
    
    <h4> No Service Levels Defined, Contact Cloud Administrator  !!!</h4>
#{/ifnot}

  
     
 	<div id="tabcontainer">
          <ul id="tabnav">

 				#{list vdc_list, as:'vdc'}
 						<li><a href ="@{Producer.listAllOffers(vdc.id, vdc.name )}">${vdc?.name}</a></li>
				 #{/list}
			</ul>
 
 #{ifnot vaWithVm}
    
    <h4></h4>
#{/ifnot}




			<table border= "1">
      			 <thead>
           				<tr>
           					<th>Offer Icon</th>
               				<th><strong>Offer Name</strong></th>
             				<th><strong>Action</strong></th>
              			</tr>
      			 </thead>
       			 <tbody>
        					#{list vaWithVm, as:'va'}
  						<tr>
  						<td> Not available</td>
                		   <td>${va.name}</td>
                 			<td> <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	 #{a @ProducerRemote.listVM(virtualDatacenter.id,va.id)}  Offer-Details #{/a}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      				<a href ="@{ProducerRemote.configure(virtualDatacenter.id , va.id)}"> Enable  </a></p></td>
               			</tr>
               				#{/list}
           
       			
   			 
   			#{list resultSet1, as:'subscoffers'}
  
				<tr>

					<td><img src="@{Helper.displayIcon(subscoffers.sc_offer.sc_offer_id)}" width="100" height=100" /></td>
								#{list subscoffers.sc_offer, as:'sc_offer'}
					<td><b> OfferId : </b> ${subscoffers.id} <b> Offer Name </b>: ${sc_offer.sc_offer_name} <br />
								#{/list}
						<b> Short Descriprtion </b> : ${sc_offer.short_description}<br />
						<b> Description </b> :${sc_offer.description} <br />
								#{list sc_offer.nodes, as:'nodes'}
						<b> CPU </b>:${nodes.cpu}  <b> RAM : </b> ${nodes.ram} </b> <br />
								#{/list}
					</td>
					<td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href ="@{ProducerLocal.configureExistingOffer(sc_offer.sc_offer_id)}"> Configure </a> 
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 											<a href ="@{ProducerLocal.disableOffer(subscoffers.id)}"> Disable </a>
					 </td>
  				</tr>
			#{/list}
			</tbody>
</table>


<p><a href ="@{ProducerLocal.admin()}"> Home  </a></p>