= q m $app_config['completion_page_body'].gsub('{object}', @enterprise.label)

- if $app_config['completion_page_show_login']
  = render :partial => "credentials", :locals => { :enterprise => @enterprise }