#{extends 'main.html' /}

#{set title:'Admin' /}

	<!-- <div class="fancyButtons">
      <div class="fancyButton floatLeft"><a href="@{MarketEnable.marketEnable()}">MarketPlace</a></div>
    </div> 
    <div class="fancyButtons">
      <div class="fancyButton floatLeft"><a href="@{Producer.poe()}">MarketPlace Administration</a></div>
    </div> 
    <div class="fancyButtons">
      <div class="fancyButton floatLeft"><a href="@{Producer.poe()}">User Profile</a></div>
    </div> 
    <div class="fancyButtons">
      <div class="fancyButton floatLeft"><a href="@{Producer.poe()}">Home</a></div>
    </div> -->
    
   <!-- Tabs -->       
    <div id="tabs">
        <ul>
            <li><a href="#tabs-3"><i class="icon-ok icon-home"></i> Home</a></li>
            <li><a href="@@{Producer.poe()}"><i class="icon-ok icon-shopping-cart"></i> MarketPlace Administration</a></li>
            <!-- <li><a href="@{MarketEnable.marketEnable()}"><i class="icon-ok icon-briefcase"></i> Manage Accounts</a></li> -->
        </ul>
        <!-- <div id="tabs-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        <div id="tabs-2">Phasellus mattis tincidunt nibh. Cras orci urna, blandit id, pretium vel, aliquet ornare, felis. Maecenas scelerisque sem non nisl. Fusce sed lorem in enim dictum bibendum.</div>-->
        <div id="tabs-3">
        <div class="hero-unit">          
              <img alt="abiquo" src="@@{'/public/images/quarter_q_large.png'}" />
			  <h1>Provisioning Portal</h1>
			  <p>alpha</p>			 
			</div>
        </div> 
    </div>

