#{if flash.error}
		<p style="color:#c00">
    	${flash.error}
		</p>
#{/if}
<div id="publishMarketplaceOriginForm">
<!-- <h2><u>${enterprise_name}</u> </h2> -->
#{ifnot resultSet}
    No Pubished offers available
#{/ifnot}
#{else}
<script type="text/javascript">
$('#tabnav a[href^="' + location.pathname + location.search + '"]').addClass('active');
$( "#tabss" ).tabs({
    ajaxOptions: {
        error: function( xhr, status, index, anchor ) {
            $( anchor.hash ).html(
                "Couldn't load this tab. We'll try to fix this as soon as possible. " );
        }
    }
});
</script>

<div id="tabss">
      <ul>  
         #{list resultSet, as:'subscoffer'}
	      <li><a href = "@{publishOffersPerMarket(subscoffer.service_level,enterprise_id,enterprise_name)}"> ${subscoffer.service_level}</a></li>
	 	 #{/list}
	</ul>
</div>
</div>
#{ifnot resultSet1} 
#{/ifnot}
#{/else}
<!-- <p><a href ="@{ProducerLocal.admin()}"> Home  </a></p> -->